* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.8;
  color: #262A3F;
}

.header {
  height: 120vh;
  background: url(../img/first-screen-image3x.png) no-repeat;
  background-size: cover;
  padding: 0 calc(50vw - 575px);
}

.header-text {
  position: absolute;
  margin-top: 35vh;
  width: 40%;
  text-align: left;
}

.header-text__description {
  margin: 2vh 0 4vh 0;
}

.menu-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 4vh;
  right: 0;
  padding: 0 calc(50vw - 575px);
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.5)), color-stop(24.1%, rgba(255, 255, 255, 0.244636)), color-stop(47.19%, rgba(255, 255, 255, 0))), rgba(255, 255, 255, 0.02);
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%), rgba(255, 255, 255, 0.02);
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
  height: 10vh;
}

.menu-bar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
}

.menu-bar__logo svg {
  margin-right: 1vw;
  fill: white;
}

.menu {
  position: relative;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__items {
  list-style: none;
}

.menu__items a {
  position: relative;
  text-decoration: none;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.08em;
  color: #262A3F;
}

.menu__items a:hover::before {
  content: '';
  position: absolute;
  background: #262a3f;
  width: 100%;
  height: 2px;
  top: 1.2em;
}

.menu__items:not(:last-child) {
  margin-right: 2vw;
}

.menu__night-mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2em;
  width: 2em;
  background: #262a3f;
  opacity: 0.3;
  border-radius: 1px;
}

.menu__night-mode img {
  width: 50%;
  height: 50%;
}

.nav-toggle {
  display: none;
  position: relative;
  padding: 10px;
  background: transparent;
  border: 1px solid transparent;
}

.nav-toggle:focus {
  outline-width: 0;
}

.nav-toggle span {
  background: black;
  display: block;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
  border-radius: 8px;
  height: 6px;
  width: 60px;
  margin-bottom: 10px;
}

.nav-toggle .bar-bot {
  margin-bottom: 0;
}

.opened .bar-top {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 10% 0%;
          transform-origin: 10% 0%;
}

.opened .bar-mid {
  opacity: 0;
}

.opened .bar-bot {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 10% 80%;
          transform-origin: 10% 80%;
}

.title {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 52px;
  letter-spacing: 0;
  color: #262A3F;
}

.title span {
  font-style: italic;
  color: #85bbb1;
}

.text {
  margin: 2vh 0 130px 0;
}

.link-btn {
  position: relative;
  text-decoration: none;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #262A3F;
  color: #f1897b;
}

.link-btn::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.6em;
  background: #f1897b;
  opacity: 0.3;
  top: 0.6em;
  left: 0.5em;
}

.link-btn:hover::before {
  left: -0.1em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.solis-info {
  position: relative;
  padding: 0 calc(50vw - 575px);
}

.solis-info__img {
  width: 50%;
  -webkit-transform: translate(-7px, -203px);
          transform: translate(-7px, -203px);
}

.solis-info__img img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.text-block {
  position: absolute;
  width: 65%;
  left: 30%;
  top: -10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  opacity: 0.9;
  padding: 5vw;
}

.text-block__description {
  width: 50%;
}

.text-block__description p:last-of-type {
  margin-bottom: 30px;
}

.point {
  text-align: center;
  padding-bottom: 3vw;
}

.point__title {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
  line-height: 72px;
  letter-spacing: 0;
  color: #262A3F;
  padding-bottom: 10px;
}

.advantages {
  padding: 0 calc(50vw - 575px);
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.box {
  padding-right: 10%;
}

.box__title {
  border-top: 1px solid #e4e4e4;
  padding-top: 30px;
}

.quote {
  background: url(../img/quote-background.png) no-repeat;
  background-size: cover;
  margin: 0 calc(50vw - 575px);
}

.quote__text {
  position: relative;
  padding: 10% 30% 5% 15%;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  letter-spacing: 4%;
  color: #262A3F;
  color: #FFFFFF;
}

.quote__text::before {
  position: absolute;
  content: '';
  height: 2.6em;
  width: 2.6em;
  top: 29%;
  left: 11%;
  background: url(../img/quote-icon.png) no-repeat;
  background-size: contain;
}

.quote__name {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #262A3F;
  color: white;
  font-style: italic;
  padding: 0 30% 5% 15%;
}

.video {
  margin: 0 calc(50vw - 450px);
  padding-top: 15vh;
}

.video__frame {
  position: relative;
  border: 1px solid #e4e4e4;
  border-radius: 32px;
}

.video__frame::after {
  position: absolute;
  content: '';
  height: 15%;
  width: 15%;
  top: 45%;
  left: 45%;
  background: url(../img/icon-play.png) no-repeat;
  background-size: contain;
}

.video__frame::before {
  position: absolute;
  content: '';
  height: 32px;
  width: 32px;
  border: 1px solid #e4e4e4;
  border-radius: 50%;
  top: 50%;
  left: 95%;
}

.video__frame img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  padding: 25px 60px 25px 25px;
}

.video__title {
  margin-top: 1em;
}

.exchange {
  padding: 0 calc(50vw - 575px);
}

.background {
  position: relative;
}

.converter {
  position: absolute;
  top: 20%;
  left: 6%;
  color: #ffffff;
  background: #161926;
  -webkit-box-shadow: 0px 8px 12px rgba(38, 42, 63, 0.24), 0px 32px 64px rgba(38, 42, 63, 0.24);
          box-shadow: 0px 8px 12px rgba(38, 42, 63, 0.24), 0px 32px 64px rgba(38, 42, 63, 0.24);
  border-radius: 12px;
  padding: 20px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 4%;
  color: #262A3F;
  color: rgba(255, 255, 255, 0.3);
  width: 25%;
}

.converter input {
  height: 2em;
  background: rgba(255, 255, 255, 0.1);
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  opacity: 0.8;
}

.converter__sell-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.converter__sell-line span {
  padding-right: 6px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

.converter__rate-line {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.converter__rate-line .number {
  font-size: 20px;
  font-style: italic;
}

.converter__rate-line .big-number {
  font-size: 56px;
  opacity: 0.9;
  color: white;
}

.converter__pay-receive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.converter__pay-receive input {
  width: 100%;
}

.converter__fees {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  padding: 2em 0;
}

.converter__fees input {
  width: 20%;
  height: 1.4em;
}

.converter__form {
  margin: 10px 0;
}

.converter__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.converter__form form label {
  padding-left: 1em;
}

.converter svg {
  fill: white;
}

.fees-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pay {
  margin-right: 5%;
  background: url(../img/bitcoin-png.png) no-repeat;
  background-position-y: 90%;
  background-position-x: 94%;
}

.reveive {
  background: url(../img/tether-png.png) no-repeat;
  background-position-y: 90%;
  background-position-x: 94%;
}

#arrow {
  margin: 0 15px;
}

.trading-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  position: absolute;
  width: 60%;
  top: 17%;
  left: 38%;
  background: rgba(255, 255, 255, 0.9);
}

.trading-info__box {
  padding: 1.7em;
}

.trading-info__box-title {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
  letter-spacing: 0;
  color: #262A3F;
  padding-bottom: 0.5em;
}

.trading-info__box-text p {
  margin-bottom: 10px;
}

.link-border {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: 1px solid #e4e4e4;
  margin-top: 1.5em;
}

.link-border a {
  display: inline-block;
  margin: 1.5em 4em;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: calc(50vw - 575px);
  margin: 15vh 0;
}

.slider__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25%;
  margin-right: 3vw;
}

.slider__control-text {
  margin: 20px 0 20px 0;
}

.slider__control-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__control-pages p {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.slider__control-pages svg:last-of-type {
  margin-left: 10px;
  fill: #85bbb1;
}

.slider__slides {
  margin-right: 20px;
}

.slider__slides-block {
  position: relative;
}

.slider__slides-block img {
  width: 100%;
}

.slider__slides-text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0;
  color: #262A3F;
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  width: 100%;
  padding: 2rem;
}

.slider__slides-name {
  position: absolute;
  top: 70%;
  width: 100%;
  padding: 2rem;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #262A3F;
  color: white;
  font-style: italic;
}

.page-number {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
  letter-spacing: 0;
  color: #262A3F;
}

.page-number span {
  font-size: 40px;
  font-style: italic;
  color: #85bbb1;
}

.contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px calc(50vw - 575px);
  padding: 120px 0;
  border-top: 1px solid #E4E4E4;
  border-bottom: 1px solid #E4E4E4;
}

.contact-us__text {
  width: 50%;
}

.contact-us__text p:first-of-type {
  margin-bottom: 20px;
}

.contact-us__form {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.contact-us form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.contact-us form input {
  margin-bottom: 40px;
  border: 0;
  border-bottom: 1px solid rgba(38, 42, 63, 0.1);
  height: 2.5em;
}

.contact-us form input::-webkit-input-placeholder {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #262A3F;
  font-style: italic;
}

.contact-us form input:-ms-input-placeholder {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #262A3F;
  font-style: italic;
}

.contact-us form input::-ms-input-placeholder {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #262A3F;
  font-style: italic;
}

.contact-us form input::placeholder {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #262A3F;
  font-style: italic;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px calc(50vw - 575px);
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0;
  color: #262A3F;
  color: rgba(38, 42, 63, 0.6);
}

.footer__made-by span, .footer__polici span {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.08em;
  color: #262A3F;
}

.footer__polici span:first-of-type {
  padding-right: 30px;
}

.night-mode {
  background: #161926;
}

.night-mode .header {
  background: url(../img/first-screen-image2x-dark.png) no-repeat;
}

.night-mode .header p {
  color: white;
}

.night-mode .header .menu-bar {
  background: -webkit-gradient(linear, right top, left top, from(rgba(22, 25, 38, 0.5)), color-stop(24.1%, rgba(22, 25, 38, 0)), color-stop(47.19%, rgba(22, 25, 38, 0))), rgba(22, 25, 38, 0.02);
  background: linear-gradient(270deg, rgba(22, 25, 38, 0.5) 0%, rgba(22, 25, 38, 0) 24.1%, rgba(22, 25, 38, 0) 47.19%), rgba(22, 25, 38, 0.02);
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
}

.night-mode .header .menu-bar a {
  color: white;
}

.night-mode .header .menu__items {
  background: rgba(22, 25, 38, 0.9);
}

.night-mode .link-btn {
  color: #53f3cd;
}

.night-mode .link-btn::before {
  background: #53f3cd;
}

.night-mode .text {
  color: white;
}

.night-mode .title {
  color: white;
}

.night-mode span {
  color: #689ff2;
}

.night-mode .text-block, .night-mode .trading-info {
  background: rgba(22, 25, 38, 0.9);
  color: white;
}

.night-mode .text-block p, .night-mode .trading-info p {
  color: white;
}

.night-mode .contact-us input {
  background: #161926;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.night-mode .contact-us p {
  color: white;
}

.night-mode .slider p {
  color: white;
}

.night-mode .footer p {
  color: white;
}

@media (max-width: 1150px) {
  .quote, .contact-us, .video, .footer {
    width: 100%;
    margin: 0;
  }
  .header-text, .grid, .video__title, .video__text, .slider__control, .contact-us, .footer {
    padding-left: 10px;
  }
  .text-block {
    padding: 3vw;
    top: -11rem;
  }
  .trading-info {
    top: 10%;
  }
}

@media (max-width: 992px) {
  body {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.8;
    color: #262A3F;
  }
  .trading-info {
    top: 5%;
  }
  .text-block {
    top: -12rem;
    padding: 1vw;
  }
  .point__title {
    font-size: 54px;
    line-height: 58px;
  }
  .link-border a {
    margin: 1.5em 2.5em;
  }
  .title {
    font-size: 40px;
    line-height: 48px;
  }
  .quote__text::before {
    top: 15%;
    left: 8%;
  }
  .slider__slides-text {
    font-size: 14px;
    line-height: 22px;
    padding: 1rem;
  }
  .slider__slides {
    margin-right: 5px;
  }
}

@media (max-width: 768px) {
  .nav-toggle {
    display: block;
  }
  .menu {
    position: absolute;
    left: -105%;
  }
  .menu-bar__logo {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    top: 5vh;
    left: -110%;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
  .menu__items {
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid rgba(100, 100, 100, 0.1);
    width: 100%;
  }
  .menu__night-mode {
    margin-left: 47%;
  }
  .header__menu li:not(:last-child) {
    margin-right: 0;
  }
  .menu__link {
    display: block;
  }
  .menu__items a:hover::before {
    height: 0px;
  }
  .main {
    padding: 10px;
  }
  .text-block {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
  }
  .solis-info__img {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  .solis-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .solis-info__img {
    width: 90%;
  }
  .trading-info {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }
  .background img {
    width: 100%;
  }
  .converter {
    width: 50%;
    top: 15%;
    left: 25%;
  }
  .link-border a {
    margin: 1em 2em;
  }
  .video__frame::before {
    height: 28px;
    width: 28px;
    top: 50%;
    left: 93%;
  }
}

@media (max-width: 576px) {
  .contact-us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .title {
    font-size: 26px;
    line-height: 34px;
  }
  .contact-us__text {
    width: 100%;
    margin-bottom: 30px;
  }
  .contact-us__form {
    width: 100%;
  }
  .background img {
    display: none;
  }
  .converter {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }
  .link-border a {
    margin: 1em 1em;
    font-size: 16px;
  }
  .quote__text::before {
    top: 5%;
    left: 5%;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer * {
    margin-bottom: 15px;
  }
  .video__frame::before {
    height: 24px;
    width: 24px;
    top: 50%;
    left: 91%;
  }
}

@media screen and (-webkit-max-device-pixel-ratio: 2), screen and (max-resolution: 2dppx) {
  .header {
    background: url("../img/first-screen-image2x.png") no-repeat;
    background-size: cover;
    padding: 0 calc(50vw - 575px);
  }
}

@media screen and (-webkit-max-device-pixel-ratio: 1), screen and (max-resolution: 1dppx) {
  .header {
    height: 120vh;
    background: url("../img/first-screen-image1x.png") no-repeat;
    background-size: cover;
    padding: 0 calc(50vw - 575px);
  }
}
/*# sourceMappingURL=style.css.map */